.raiting {
  display: flex;
  align-items: center;
  flex-direction: column;
  grid-area: icon;
}

.likes {
  background-color: transparent;
  width: 22px;
}

.count {
  color: #000;
  font-size: 13px;
}
