.container {
  display: flex;
  flex-direction: column;
}

.buttonWrapper {
  display: flex;
  justify-content: flex-end;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 330px);
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
  margin-bottom: 60px;
}

.filter {
  background-color: transparent;
}

.buttonWrapper {
  margin-top: 20px;
}

.svg {
  max-width: 45px;
  max-height: 45px;
}
